### Import Necessary Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')
df.head()

/tmp/ipykernel_161510/3733755785.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

In [4]:
#for numerical data
df.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
count,9.972130e+05,997213.000000,9.972130e+05,9.972130e+05,9.972130e+05
mean,4.311864e+05,2010.189829,2.791437e+05,3.911512e+05,1.044637e+01
std,6.549219e+06,6.237877,1.670610e+06,5.347270e+06,1.890192e+03
min,0.000000e+00,2001.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.044400e+04,2004.000000,8.760000e+04,1.400000e+05,4.867000e-01
50%,7.030300e+04,2010.000000,1.383900e+05,2.250000e+05,6.246000e-01
75%,1.518780e+05,2016.000000,2.255600e+05,3.650000e+05,7.852761e-01
max,2.000500e+09,2020.000000,8.815100e+08,5.000000e+09,1.226420e+06

In [5]:
#for categorical data
df.describe(include='all')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
count,9.972130e+05,997213.000000,997211,997213,997162,9.972130e+05,9.972130e+05,9.972130e+05,614767,608904,289681,149864,9934,197697
unique,NaN,NaN,6387,170,714371,NaN,NaN,NaN,11,5,106,66508,4825,130529
top,NaN,NaN,07/01/2005,Bridgeport,MULTI ADDRESSES,NaN,NaN,NaN,Single Family,Single Family,25 - Other,ESTATE SALE,GOOD SALE PER MLS,POINT (-72.36336 41.97461)
freq,NaN,NaN,877,34201,620,NaN,NaN,NaN,401612,445016,59916,5044,978,181
mean,4.311864e+05,2010.189829,NaN,NaN,NaN,2.791437e+05,3.911512e+05,1.044637e+01,NaN,NaN,NaN,NaN,NaN,NaN
std,6.549219e+06,6.237877,NaN,NaN,NaN,1.670610e+06,5.347270e+06,1.890192e+03,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,2001.000000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.044400e+04,2004.000000,NaN,NaN,NaN,8.760000e+04,1.400000e+05,4.867000e-01,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.030300e+04,2010.000000,NaN,NaN,NaN,1.383900e+05,2.250000e+05,6.246000e-01,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.518780e+05,2016.000000,NaN,NaN,NaN,2.255600e+05,3.650000e+05,7.852761e-01,NaN,NaN,NaN,NaN,NaN,NaN
max,2.000500e+09,2020.000000,NaN,NaN,NaN,8.815100e+08,5.000000e+09,1.226420e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.sample(2)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
318255,40095,2004,11/03/2004,Naugatuck,38 2D ANN ST,53860.0,110725.0,0.486430,NaN,NaN,NaN,NaN,NaN,NaN
103907,10691,2001,05/13/2002,New Britain,289 CHERRY ST,42500.0,109000.0,0.389908,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['OPM remarks'].value_counts()

OPM remarks
GOOD SALE PER MLS                                                   978
NO MLS                                                              500
NEW CONSTRUCTION                                                    345
SHORT SALE PER MLS                                                  326
TOTAL RENOVATION PER MLS                                            316
                                                                   ...
REMODELED PER MLS - SEE PREVIOUS SALE #170076                         1
REO SALE - CASH ONLY SOLD AS IS                                       1
TWO SALES - ALSO SEE #1700209                                         1
NOT A VALID SALE PER TOWN SITE AND PER MLS SALE PRICE = $345,000      1
PER MLS CLOSING PRICE = $1,145,000                                    1
Name: count, Length: 4825, dtype: int64

In [8]:
df = df.drop('OPM remarks',axis=1)

In [9]:
df = df.dropna()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18528 entries, 100 to 997187
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Serial Number     18528 non-null  int64
 1   List Year         18528 non-null  int64
 2   Date Recorded     18528 non-null  object
 3   Town              18528 non-null  object
 4   Address           18528 non-null  object
 5   Assessed Value    18528 non-null  float64
 6   Sale Amount       18528 non-null  float64
 7   Sales Ratio       18528 non-null  float64
 8   Property Type     18528 non-null  object
 9   Residential Type  18528 non-null  object
 10  Non Use Code      18528 non-null  object
 11  Assessor Remarks  18528 non-null  object
 12  Location          18528 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 2.0+ MB

In [11]:
df['Date Recorded'].values

array(['10/06/2020', '06/02/2021', '12/14/2020', ..., '09/16/2020',
       '02/11/2020', '02/14/2020'], dtype=object)

# **Time series analysis**

**convert type (object) to datetime**

In [12]:
df['Date Recorded'] = pd.to_datetime(df['Date Recorded'])

In [13]:
df['Date Recorded'].values

array(['2020-10-06T00:00:00.000000000', '2021-06-02T00:00:00.000000000',
       '2020-12-14T00:00:00.000000000', ...,
       '2020-09-16T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000'], dtype='datetime64[ns]')

**Make column for year**

In [14]:
df['Year'] = df['Date Recorded'].dt.year

**Make column for month name**

In [15]:
df['Month'] = df['Date Recorded'].dt.month_name()

**Make column for day name**

In [16]:
df['Day'] = df['Date Recorded'].dt.day_name()

**Make column for quarter (1,2,3,4)**

In [17]:
df['Quarter'] = df['Date Recorded'].dt.quarter

**it looks perfect now**

In [18]:
df.sample(3)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,Location,Year,Month,Day,Quarter
609112,110311,2011,2012-05-29,Wallingford,17 RIDGEFIELD RD,158900.0,195000.0,0.814872,Single Family,Single Family,25 - Other,NO REMARKS LISTED,POINT (-72.85162 41.48362),2012,May,Tuesday,2
570169,100337,2010,2011-08-30,New London,292 PEQUOT AVE I1,84700.0,70000.0,1.210000,Condo,Condo,25 - Other,SALES RATIO,POINT (-72.09699 41.33356),2011,August,Tuesday,3
839142,170258,2017,2018-03-15,Branford,3 SWIFT ST,159400.0,230000.0,0.693043,Single Family,Single Family,14 - Foreclosure,SALE OF BANK OWNED PROPERTY,POINT (-72.825 41.27454),2018,March,Thursday,1